<section>

  <div class="row">

    <h3><b><a href='#' data-toggle="modal" data-target="#modalEditListForm" style="color: #7d8282;"><%= @list.name %></a></b>
      <ul class="pull-right" style="list-style: none;">
        <li><a href="#" data-toggle="modal" data-target="#modalAddItemForm">NEW ITEM</a></li>
      </ul>
    </h3>

  </div>

  <div class="row">

    <div class="panel panel-default todo-list">
      <div class="panel-body">

        <%= render :partial => 'items_uncompleted', :locals => {:items => @list.items.where('is_complete is null').order('position')} %>
        <p>&nbsp;</p>
        <%= render :partial => 'items_completed', :locals => {:items => @list.items.where('is_complete is not null').order('position')} %>

      </div>
    </div>
  </div>


  <%= render :partial => 'items_edit_modals', :locals => {:items => @list.items} %>


</section>

<!-- EDIT LIST MODAL -------------------------->
<div class="modal fade" id="modalEditListForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Edit This List</h4>
      </div>
      <div class="modal-body" style="margin-bottom:-30px;">

        <%= form_for(@list, :authenticity_token => true, html: {class: 'form-horizontal'}) do |f| %>

            <input id="originalListName" type="hidden" value="<%= @list.name %>" />

            <div class="form-group">
              <label for="list_name" class="col-sm-2 control-label">Name</label>

              <div class="col-sm-10">
                <input type="text" class="form-control input-lg" id="list_name" name="list[name]" data-error="This can't be blank." required value="<%= @list.name %>">
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="modal-footer">
              <a class="btn btn-danger" href='/lists/<%= @list.id.to_s %>' data-method='DELETE'>Delete</a>
              <button type="submit" class="btn btn-primary" id="editListFormSubmitButton">Update</button>
            </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
<!-- EDIT LIST MODAL -------------------------->


<script type="text/javascript">

    $(document).ready(function () {

        //console.log("doc ready listener established on lists/show");
        $("#modalEditListForm").on("hidden.bs.modal", function () {
            // put your default event here
            //console.log("modalEditListForm is closing!");
            if ($('#list_name').val() == '')
            {
                //console.log("While closing the list edit modal, list name set to blank. Replacing with original value.");
                $('#list_name').val($('#originalListName').val());
            }

        });
    });

</script>


<!-- ADD ITEM MODAL -------------------------->
<div class="modal fade" id="modalAddItemForm" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Add a New Item</h4>
      </div>
      <div class="modal-body" style="margin-bottom:-30px;">

        <%= form_for( [@list, @item], remote: true, format: :js, :authenticity_token => true, html: {class: 'form-horizontal'}) do |f| %>

            <input type="hidden" name="list_id" value="<%= @list.id %>" />

            <div class="form-group">
              <label for="list_name" class="col-sm-2 control-label">Name</label>

              <div class="col-sm-10">
                <input type="text" class="form-control input-lg" id="item_name" name="item[name]" data-error="This can't be blank." required value="<%= @item.name %>">
                <div class="help-block with-errors"></div>
              </div>
            </div>

            <div class="modal-footer">
              <button type="submit" class="btn btn-primary" id="editItemFormSubmitButton">Add</button>
            </div>

        <% end %>

      </div>
    </div>
  </div>
</div>
<!-- ADD ITEM MODAL -------------------------->